<?xml version='1.0' encoding='utf-8' standalone='yes'?>
<root>
 <port-angle>59</port-angle>
 <Q1>
  <alpha>1</alpha>
  <beta>6</beta>
 </Q1>
 <Q2>
  <alpha>0.78</alpha>
  <beta>7.71</beta>
 </Q2>
 <Q3>
  <alpha>0.84</alpha>
  <beta>-1.35</beta>
 </Q3>
 <Q4>
  <alpha>1</alpha>
  <beta>0</beta>
 </Q4>
</root>
